.container {
  text-align: center;
}

.cakes-title {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.card {
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.card-title {
  font-family: "Playfair Display", serif;
}
