.navbar {
  background-color: #ffd0d0;
  color: #333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar a {
  color: #333;
  text-decoration: none;
  padding: 0 15px;
  display: inline-block;
  line-height: 50px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #e1acac;
}
